<!DOCTYPE html>
<html>
  <head>
    <title>Animezon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <link rel="icon" type="image/x-icon" href="https://github.com/jangcla/Animezon/blob/main/profile_photos/gojo-face.jpeg?raw=true" />
    <meta name="description" content="A" />
    <meta name="title" property="og:title" content="Animezon" />
    <meta property="og:type" content="_" />
    <meta name="image" property="og:image" content="https://github.com/jangcla/Animezon/blob/search/photos/Link-photo.png?raw=true" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
